<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
  </head>
  <body>
      <div class="jumbotron">
          <h1 class="display-3">Danh sách hiển thị sản phẩm</h1>
          <p class="lead">Sử dụng reactjs lấy dữ liệu nodejs</p>
          <hr class="my-2">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-4">
                  <div class="card text-left">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                      <h4 class="card-title float-left">Tên sản phẩm</h4>
                      <h4 class="card-title float-right">Giá</h4>
                    </div>
                  </div>
              </div>
              <div class="col-4">
                <div class="card text-left">
                  <img class="card-img-top" src="holder.js/100px180/" alt="">
                  <div class="card-body">
                    <h4 class="card-title float-left">Tên sản phẩm</h4>
                    <h4 class="card-title float-right">Giá</h4>
                  </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-left">
                  <img class="card-img-top" src="holder.js/100px180/" alt="">
                  <div class="card-body">
                    <h4 class="card-title float-left">Tên sản phẩm</h4>
                    <h4 class="card-title float-right">Giá</h4>
                  </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-left">
                  <img class="card-img-top" src="holder.js/100px180/" alt="">
                  <div class="card-body">
                    <h4 class="card-title float-left">Tên sản phẩm</h4>
                    <h4 class="card-title float-right">Giá</h4>
                  </div>
                </div>
            </div>
          </div>
      </div>
    
  </body>
</html>